@keyframes moon-slide-in {
  from { transform: translateX(-100px); }
  to   { transform: translateX(0); }
}
@keyframes moon-slide-out {
  from { transform: translateX(0); }
  to   { transform: translateX(-100px); }
}
@keyframes sun-slide-in {
  from { transform: translateX(100px); }
  to   { transform: translateX(0); }
}
@keyframes sun-slide-out {
  from { transform: translateX(0); }
  to   { transform: translateX(100px); }
}
@keyframes cloud-slide-right {
  from { transform: translateX(-100px); }
  to   { transform: translateX(100px); }
}
@keyframes cloud-slide-left {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}
@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}
:root.animate * {
  transition: background-color 1s ease, color 1s ease, fill 1s ease;
}