body.dark {
	background-color: #353535;
	color: #b6b6b6;

	
	& button {
		background-color: #252525;
	}
	& header {
		background-color: #252525;

		& nav ul li a {
			color: #b6b6b6;

			:hover {
				background-color: #161616;
			}
		}
		& #theme-button::before {
			content: '☀️';
		}
	}
}
