body.light {
	background-color: #dadada;
	color: #757575;

	& button {
		background-color: #c1c1c1;
	}
	& header {
		background-color: #c1c1c1;

		& nav ul li a {
			color: #757575;

			:hover {
				background-color: #a9a9a9;
			}
		}

		& #theme-button::before {
			content: '🌙';
		}
	}
}
