@import url('./dark.css');
@import url('./light.css');

@import url('./mobile.style.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
	width: 100%;
	display: flex;
	justify-content: space-between;

	& h1 {
		position: relative;
		left: 20px;
		right: 20px;
	}
	& nav ul {
		height: 100%;
		list-style: none;
		display: flex;
		justify-content: space-between;

		& li a {
			height: 100%;
			display: flex;
			text-decoration: none;

			& h3 {
				padding: 10px;
			}
		}
	}
	& button#theme-button {
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 20px;
	}
}

footer {
	position: fixed;
	bottom: 0;
	display: flex;

	& p {
		display: flex;
		justify-content: center;
		padding-top: 20px;
	}
}

#error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-size: 100px;
}
#message-error {
	display: flex;
	justify-content: center;
}

