:root[theme='dark'] {
	--body-background-color: #353535;
	--body-color: #b6b6b6;
	--header-background-color: #252525;
	--header-hover-background-color: #161616;
	--project-background-color: #272727;

	& svg {
		& g#sun {
			opacity: 0;
		}
		& g#moon {
			opacity: 1;
		}
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--body-background-color: #353535;
		--body-color: #b6b6b6;
		--header-background-color: #252525;
		--header-hover-background-color: #161616;
		--project-background-color: #272727;

		& svg {
			& g#sun {
				opacity: 0;
			}
			& g#moon {
				opacity: 1;
			}
		}
	}
}
