:root {
	--project-card-items: 2;
	--project-card-margin: 0.5em;
}
body > main {
	width: 70%;
	> header {
		justify-content: space-between;
		> div {
			flex-direction: row;
			> select {
				padding: 0 1em;
			}
		}
	}
}
