:root {
	--project-card-items: 2;
	--project-card-margin: 0.5em;
}

body>main {
	width: 70%;
}

@media screen and (width > 700px) {
	body>main>aga-section[data-type="projects"]>div.container {

		>a>aga-project,
		>aga-project {
			&.last-odd {
				grid-template:
					"image title title" 2.5rem
					"image description developed-in" auto
					/ 4fr 3fr 2fr;
				gap: calc(var(--project-card-margin) * 2);
				width: 100%;

				>h3 {
					text-align: center;
				}
			}
		}
	}
}